arandr==0.1.11
asgiref==3.7.2
attrs==22.2.0
certifi==2023.7.22
cffi==1.15.1
cryptography==41.0.4
Django==4.2.6
docopt==0.6.2
helpdev==0.7.1
importlib-metadata==5.0.0
packaging==23.1
Pillow==10.0.1
ply==3.11
psutil==5.9.5
pulsemixer==1.5.1
pycairo==1.24.0
pycparser==2.21
PyGObject==3.46.0
pytz==2023.3.post1
QDarkStyle==3.1
QtPy==2.4.0
sqlparse==0.4.3
ueberzug==18.2.1
yt-dlp==2023.10.13
zipp==3.17.0
